<div class='hidden' id='orderJson'><%=@fullorders.to_json%></div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% @fullorders.each do | i | %>
        <div class="orderCards" id="cards">
          <div class="infoRow row">
            <div class="boxInfo">
              <p>Order ID:</p>
              <div> <%= i[:order].id%></div>
            </div>
            <div class="boxInfo">
              <p>Email:</p>
              <div> <%= i[:order].customer_email%></div>
            </div>
            <div class="boxInfo">
              <p>Phone Number:</p>
              <div> <%= i[:order].phone_number%></div>
            </div>
            <div class="boxInfo">
              <p>Name:</p>
              <div> <%= i[:order].name%></div>
            </div>
            <div class="boxInfo">
              <p>Delivery:</p>
              <div> <%= i[:order].delivery%></div>
            </div>
            <div class="boxInfo">
              <p>Address:</p>
              <div> <%= i[:order].address%></div>
            </div>
            <div class="boxInfo">
              <p>Total:</p>
              <div> <%= i[:order].total%></div>
            </div>
          </div>
          <% i[:items].each do | a |%>
            <div class="itemRow">
                <div>
                  Flower id: <%= a.flower_id %>
                </div>
                <div>Sixcount : <%= a.sixquantity %></div>
                <div>Eightcount : <%= a.eightquantity%></div> 
            </div>
          <%end%>
        </div>
      <%end%>
    </div>
    <div class="col-md-4" id="map">
      <%@flowers.each do | i |%>
        <div class="row">
          Flower ID: <%= i.id%> Name: <%=i.name %>
        </div>
      <%end%>
    </div>
  </div>
</div>