<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @order.name %>, <br></h1>
    <p>
      We have successfully receieved your order. Your order id is: <%= @order.id%><br>
    </p>
    <p>Your order is listed below <br></p>
    <% @order.order_items.each do |i| %>
      <p> <%=i.name%>: <%=i.sixcount%> six inch pot(s) and <%= i.eightcount%> eight inch pot(s)  </p>
    <% end %>
    <p>
      To revisit the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>